<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Gold_Star_Goal</key>
        <integer>70000</integer>
        <key>Silver_Star_Goal</key>
        <integer>63000</integer>
        <key>Bronze_Star_Goal</key>
        <integer>46000</integer>
        <key>goalType</key>
        <string>TOTAL_SCORE</string>
        <key>goalValue</key>
        <integer>46000</integer>
        <key>secondarygoalType</key>
        <string>CLEAR_TYPE</string>
        <key>secondarygoalItems</key>
        <array>
            <string>PLATES</string>
            <string>25</string>
        </array>
        <key>secondarygoalValue</key>
        <integer>100000</integer>
        <key>limiterType</key>
        <string>MOVE_LIMIT</string>
        <key>limiterValue</key>
        <integer>35</integer>
        <key>characterStyles</key>
        <array>
            <string>STYLE_DEFAULT</string>
        </array>
        <key>spawnableItems</key>
        <array>
            
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RED</string>
                    <key>spawnChance</key>
                    <integer>50</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_ORANGE</string>
                    <key>spawnChance</key>
                    <integer>100</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_YELLOW</string>
                    <key>spawnChance</key>
                    <integer>50</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_BLUE</string>
                    <key>spawnChance</key>
                    <integer>100</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_PURPLE</string>
                    <key>spawnChance</key>
                    <integer>100</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_CHIP</string>
                    <key>spawnChance</key>
                    <integer>100</integer>
                </dict>
        </array>
        <key>tiles</key>
        <array>
            <array>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>1</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>1</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>1</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>1</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
            </array>
            <array>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>1</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>BLOCKER_ICECREAM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                    <key>icreamLevel</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>1</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
            </array>
            <array>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>BLOCKER_ICECREAM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                    <key>icreamLevel</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
            </array>
            <array>
                <dict>
                    <key>itemType</key>
                    <string>BLOCKER_ICECREAM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                    <key>icreamLevel</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>BLOCKER_ICECREAM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                    <key>icreamLevel</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>BLOCKER_ICECREAM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                    <key>icreamLevel</key>
                    <integer>1</integer>
                </dict>
            </array>
            <array>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>BLOCKER_ICECREAM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                    <key>icreamLevel</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>BLOCKER_ICECREAM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                    <key>icreamLevel</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>2</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>BLOCKER_ICECREAM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                    <key>icreamLevel</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
            </array>
            <array>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>BLOCKER_ICECREAM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                    <key>icreamLevel</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>BLOCKER_ICECREAM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                    <key>icreamLevel</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>BLOCKER_ICECREAM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                    <key>icreamLevel</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
            </array>
            <array>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>BLOCKER_ICECREAM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                    <key>icreamLevel</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
            </array>
            <array>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
            </array>
            <array>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>itemType</key>
                    <string>COOKIE_RANDOM</string>
                    <key>plateLevel</key>
                    <integer>0</integer>
                    <key>isLocked</key>
                    <integer>0</integer>
                    <key>isBottom</key>
                    <integer>0</integer>
                </dict>
            </array>
        </array>
        <key>gameBoardBackground</key>
        <array>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-2B</string>
                    <key>rotation</key>
                    <integer>90</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-2B</string>
                    <key>rotation</key>
                    <integer>180</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>270</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>90</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>270</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>90</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>270</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>90</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>270</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>90</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>270</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>90</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>270</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>90</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>270</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-0A</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>90</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-2B</string>
                    <key>rotation</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>180</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>180</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>180</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>180</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-1A</string>
                    <key>rotation</key>
                    <integer>180</integer>
                </dict>
                <dict>
                    <key>imageName</key>
   <string>cdd-tile-2B</string>
                    <key>rotation</key>
                    <integer>270</integer>
                </dict>
        </array>
        <key>Boosters</key>
        <array>
    <string>BOOSTER_NUKE</string>
    <string>BOOSTER_LIGHTNING</string>
    <string>BOOSTER_SPATULA</string>
        </array>
    </dict>
</plist>