<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>minigameStartPoint</key>
	<integer>15</integer>
	<key>morphScaleMin</key>
	<real>1.2</real>
	<key>morphScaleMax</key>
	<real>1.3</real>
	<key>bubbleScales</key>
	<array>
		<string>1</string>
		<string>.95</string>
		<string>.9</string>
		<string>.85</string>
		<string>.8</string>
		<string>.85</string>
		<string>.9</string>
		<string>.9</string>
		<string>.95</string>
		<string>.9</string>
		<string>.85</string>
		<string>.8</string>
		<string>.85</string>
		<string>.85</string>
		<string>.9</string>
		<string>.8</string>
		<string>.85</string>
		<string>.9</string>
		<string>.85</string>
		<string>.8</string>
		<string>.85</string>
		<string>.9</string>
		<string>.85</string>
		<string>.8</string>
		<string>.85</string>
		<string>.9</string>
		<string>.85</string>
		<string>.8</string>
		<string>.9</string>
		<string>1</string>
		<string>1</string>
	</array>
	<key>bubbleCoords</key>
	<array>
		<string>{142,918}</string>
		<string>{143,873}</string>
		<string>{171,832}</string>
		<string>{217,811}</string>
		<string>{236,773}</string>
		<string>{206,742}</string>
		<string>{156,728}</string>
		<string>{108,720}</string>
		<string>{89,676}</string>
		<string>{116,646}</string>
		<string>{161,629}</string>
		<string>{200,611}</string>
		<string>{165,583}</string>
		<string>{108,583}</string>
		<string>{60,581}</string>
		<string>{24,548}</string>
		<string>{50,517}</string>
		<string>{88,494}</string>
		<string>{116,468}</string>
		<string>{107,423}</string>
		<string>{70,394}</string>
		<string>{22,382}</string>
		<string>{6,335}</string>
		<string>{40,312}</string>
		<string>{81,297}</string>
		<string>{121,284}</string>
		<string>{157,267}</string>
		<string>{142,227}</string>
		<string>{107,209}</string>
		<string>{76,174}</string>
		<string>{162,517}</string>
	</array>
	<key>freeCostume</key>
	<dict>
		<key>keyTheme</key>
		<string>Farmer</string>
		<key>keyType</key>
		<string>Super</string>
		<key>keyName</key>
		<string>DustinMartianMint</string>
		<key>keyImage</key>
		<string>cdd-store-icon-farmerdustin</string>
	</dict>
	<key>id</key>
	<integer>2</integer>
	<key>position</key>
	<string>{870,160}</string>
	<key>atmosphereOffset</key>
	<string>{14,-5}</string>
	<key>name</key>
	<string>alienWorld</string>
	<key>displayName</key>
	<string>Abduction Junction</string>
	<key>imageName</key>
	<string>cdd-world-alien-mapplanet</string>
	<key>backgroundsArray</key>
	<array>
		<string>cdd-world-alien-background-image-1</string>
		<string>cdd-world-alien-background-image-2</string>
	</array>
	<key>iPhone5ImageOffset</key>
	<array>
		<string>{14,0}</string>
		<string>{144,0}</string>
	</array>
	<key>iPhone4ImageOffset</key>
	<array>
		<string>{14,0}</string>
        <string>{144,62}</string>
	</array>
	<key>minigameName</key>
	<string></string>
</dict>
</plist>
