<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>minigameStartPoint</key>
	<integer>1</integer>
	<key>bubbleScales</key>
	<array>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
	</array>
	<key>bubbleCoords</key>
	<array>
		<string>{162,918}</string>
		<string>{219,891}</string>
		<string>{262,854}</string>
		<string>{213,831}</string>
		<string>{149,830}</string>
		<string>{80,835}</string>
		<string>{29,816}</string>
		<string>{60,781}</string>
		<string>{111,764}</string>
		<string>{178,727}</string>
		<string>{235,673}</string>
		<string>{229,617}</string>
		<string>{178,597}</string>
		<string>{206,559}</string>
		<string>{222,514}</string>
		<string>{165,495}</string>
		<string>{110,470}</string>
		<string>{82,432}</string>
		<string>{110,389}</string>
		<string>{22,369}</string>
		<string>{41,318}</string>
		<string>{111,318}</string>
		<string>{133,285}</string>
		<string>{86,253}</string>
		<string>{113,214}</string>
		<string>{49,177}</string>
		<string>{102,158}</string>
		<string>{168,160}</string>
		<string>{213,129}</string>
		<string>{261,97}</string>
		<string>{253,412}</string>
	</array>
	<key>friendImageOrientation</key>
	<array>
		<string>l</string>
		<string>l</string>
		<string>r</string>
		<string>r</string>
		<string>r</string>
		<string>r</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
		<string>r</string>
		<string>r</string>
		<string>r</string>
		<string>l</string>
		<string>l</string>
		<string>r</string>
		<string>r</string>
		<string>r</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
		<string>r</string>
		<string>l</string>
		<string>r</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
	</array>
	<key>freeCostume</key>
	<dict>
		<key>keyTheme</key>
		<string>Undead</string>
		<key>keyType</key>
		<string>Super</string>
		<key>keyName</key>
		<string>GerryJ</string>
	</dict>
	<key>id</key>
	<integer>3</integer>
	<key>position</key>
	<string>{1200,500}</string>
	<key>atmosphereOffset</key>
	<string>{0,7}</string>
	<key>name</key>
	<string>zombie</string>
	<key>displayName</key>
	<string>Macaroon City</string>
	<key>imageName</key>
	<string>cdd-world-zombie-mapplanet</string>
	<key>backgroundsArray</key>
	<array>
		<string>cdd-world-zombie-background-image-1</string>
		<string>cdd-world-zombie-background-image-2</string>
	</array>
	<key>iPhone5ImageOffset</key>
	<array>
		<string>{124,0}</string>
		<string>{124,44}</string>
	</array>
	<key>iPhone4ImageOffset</key>
	<array>
		<string>{122,0}</string>
		<string>{122,44}</string>
	</array>
	<key>minigameName</key>
	<string></string>
</dict>
</plist>
