<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>freeCostume</key>
	<dict>
		<key>keyTheme</key>
		<string>Chef</string>
		<key>keyType</key>
		<string>Super</string>
		<key>keyName</key>
		<string>Chip</string>
	</dict>
	<key>id</key>
	<integer>0</integer>
	<key>isUnlocked</key>
	<string>1</string>
	<key>position</key>
	<string>{65,75}</string>
	<key>atmosphereOffset</key>
	<string>{23,-2}</string>
	<key>name</key>
	<string>Milkywa-ie Mountain</string>
	<key>imageName</key>
	<string>cdd-world-milky-mapplanet</string>
	<key>backgroundsArray</key>
	<array>
		<string>cdd-world-milky-background-image-1</string>
		<string>cdd-world-milky-background-image-2</string>
	</array>
	<key>minigameName</key>
	<string>Cookie Cooker</string>
	<key>levelsArray</key>
	<array>
		<dict>
			<key>id</key>
			<string>cdd_level_001</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>1</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_002</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>2</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_003</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>3</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_004</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_005</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_006</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_007</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_008</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_009</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_010</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_011</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_012</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_013</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_014</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_015</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_016</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_017</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_018</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_019</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_020</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_021</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_022</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_023</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_024</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_025</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_026</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_027</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_028</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_029</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>cdd_level_030</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
