<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>minigameStartPoint</key>
	<integer>15</integer>
    <key>morphScaleMin</key>
	<real>0.95</real>
	<key>morphScaleMax</key>
	<real>1.05</real>
	<key>bubbleScales</key>
	<array>
		<integer>1</integer>
		<real>0.9</real>
		<real>0.8</real>
		<real>0.9</real>
		<integer>1</integer>
		<real>0.95</real>
		<real>0.9</real>
		<real>0.95</real>
		<real>0.9</real>
		<real>0.75</real>
		<real>0.8</real>
		<real>0.9</real>
		<integer>1</integer>
		<real>0.8</real>
		<real>0.75</real>
		<real>0.9</real>
		<integer>1</integer>
		<real>0.9</real>
		<real>0.8</real>
		<real>0.8</real>
		<real>0.9</real>
		<integer>1</integer>
		<real>0.9</real>
		<real>0.95</real>
		<real>0.85</real>
		<real>0.75</real>
		<real>0.75</real>
		<real>0.85</real>
		<real>0.95</real>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>bubbleCoords</key>
	<array>
		<string>{124,915}</string>
		<string>{79,878}</string>
		<string>{118,822}</string>
		<string>{195,824}</string>
		<string>{242,796}</string>
		<string>{173,774}</string>
		<string>{198,724}</string>
		<string>{237,685}</string>
		<string>{189,653}</string>
		<string>{125,617}</string>
		<string>{67,582}</string>
		<string>{7,573}</string>
		<string>{63,541}</string>
		<string>{108,498}</string>
		<string>{159,468}</string>
		<string>{219,478}</string>
		<string>{270,449}</string>
		<string>{277,400}</string>
		<string>{221,378}</string>
		<string>{164,347}</string>
		<string>{90,368}</string>
		<string>{72,314}</string>
		<string>{101,274}</string>
		<string>{70,224}</string>
		<string>{126,203}</string>
		<string>{173,170}</string>
		<string>{229,152}</string>
		<string>{269,118}</string>
		<string>{213,95}</string>
		<string>{153,90}</string>
		<string>{210, 432}</string>
	</array>
	<key>freeCostume</key>
	<dict>
		<key>keyTheme</key>
		<string>Chef</string>
		<key>keyType</key>
		<string>Super</string>
		<key>keyName</key>
		<string>Chip</string>
		<key>keyImage</key>
		<string>cdd-store-icon-chefchip</string>
	</dict>
	<key>id</key>
	<integer>0</integer>
	<key>position</key>
	<string>{65,75}</string>
	<key>name</key>
	<string>milkywaie_mountain</string>
	<key>displayName</key>
	<string>Milkywa-ie Mountain</string>
	<key>imageName</key>
	<string>cdd-world-milky-mapplanet</string>
	<key>backgroundsArray</key>
	<array>
		<string>cdd-world-milky-background-image-1</string>
		<string>cdd-world-milky-background-image-2</string>
	</array>
	<key>minigameName</key>
	<string>Cookie Cooker</string>
</dict>
</plist>
