<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<integer>5</integer>
	<key>morphScaleMin</key>
	<real>0.95</real>
	<key>morphScaleMax</key>
	<real>1.05</real>
	<key>isUnlocked</key>
	<string>0</string>
	<key>position</key>
	<string>{1900,650}</string>
	<key>atmosphereOffset</key>
	<string>{10,0}</string>
	<key>name</key>
	<string>Pirates</string>
	<key>imageName</key>
	<string>cdd-world-pirates-mapplanet</string>
	<key>levelsArray</key>
	<array>
		<dict>
			<key>id</key>
			<string>thor_level_001</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_002</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_003</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_004</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_005</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_006</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_007</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_008</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_009</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_010</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_011</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_012</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_013</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_014</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_015</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_016</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_017</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_018</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_019</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_020</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_021</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>thor_level_022</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>dev_totalscore</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>dev_totalscore</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>dev_totalscore</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>dev_totalscore</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>dev_totalscore</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>dev_totalscore</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>dev_totalscore</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>dev_totalscore</string>
			<key>highScore</key>
			<integer>0</integer>
			<key>starCount</key>
			<integer>0</integer>
			<key>isUnlocked</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>freeCostume</key>
	<dict>
		<key>keyTheme</key>
		<string>Pirate</string>
		<key>keyType</key>
		<string>Super</string>
		<key>keyName</key>
		<string>MikeyMcSprinkles</string>
	</dict>
</dict>
</plist>
