<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Milkywa-ie Mountain</string>
	<string>Dunkopolis</string>
	<string>Abduction Junction</string>
	<string>Macaroon City</string>
	<string>western</string>
	<string>pirates</string>
	<string>egypt</string>
	<string>asian</string>
</array>
</plist>
