<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>{211,143}</string>
		<string>{250,133}</string>
		<string>{290,128}</string>
		<string>{327,129}</string>
		<string>{367,139}</string>
		<string>{405,158}</string>
		<string>{439,182}</string>
		<string>{462,216}</string>
		<string>{472,258}</string>
		<string>{472,300}</string>
		<string>{454, 340}</string>
		<string>{430,376}</string>
		<string>{402,405}</string>
		<string>{375,433}</string>
		<string>{346,459}</string>
		<string>{316,486}</string>
		<string>{291,515}</string>
		<string>{268,551}</string>
		<string>{250,588}</string>
		<string>{242,629}</string>
		<string>{237,670}</string>
		<string>{241,712}</string>
		<string>{246,750}</string>
		<string>{260,787}</string>
		<string>{282,821}</string>
		<string>{310,850}</string>
		<string>{343,873}</string>
		<string>{382,890}</string>
		<string>{420,900}</string>
		<string>{459,903}</string>
		<string>{498,897}</string>
		<string>{532,887}</string>
		<string>{568,873}</string>
	</array>
	<array>
		<string>{682,703}</string>
		<string>{723,701}</string>
		<string>{760,714}</string>
		<string>{791,739}</string>
		<string>{818,770}</string>
		<string>{845,800}</string>
		<string>{880,820}</string>
		<string>{919,824}</string>
		<string>{958,810}</string>
		<string>{982,777}</string>
		<string>{987,737}</string>
		<string>{979,698}</string>
		<string>{958,663}</string>
		<string>{931,632}</string>
		<string>{903,602}</string>
		<string>{872,574}</string>
		<string>{840,548}</string>
		<string>{807,522}</string>
		<string>{773,499}</string>
		<string>{738,476}</string>
		<string>{706,450}</string>
		<string>{677,419}</string>
		<string>{654,384}</string>
		<string>{645,343}</string>
		<string>{643,303}</string>
		<string>{654,264}</string>
		<string>{671,227}</string>
		<string>{695,196}</string>
		<string>{726,171}</string>
		<string>{761,152}</string>
		<string>{797,141}</string>
		<string>{834,141}</string>
		<string>{872,149}</string>
		<string>{906,165}</string>
		<string>{936,192}</string>
		<string>{959,224}</string>
	</array>
	<array>
		<string>{1016,179}</string>
		<string>{1022,140}</string>
		<string>{1038,104}</string>
		<string>{1062,71}</string>
		<string>{1094,44}</string>
		<string>{1131,28}</string>
		<string>{1169,24}</string>
		<string>{1209,32}</string>
		<string>{1245,52}</string>
		<string>{1271,83}</string>
		<string>{1285,125}</string>
		<string>{1287,167}</string>
		<string>{1280,211}</string>
		<string>{1267,249}</string>
		<string>{1250,282}</string>
		<string>{1231,317}</string>
		<string>{1210,352}</string>
		<string>{1190,386}</string>
		<string>{1172,422}</string>
		<string>{1155,458}</string>
		<string>{1144,495}</string>
		<string>{1135,533}</string>
		<string>{1137,571}</string>
		<string>{1158,603}</string>
		<string>{1192,623}</string>
		<string>{1231,622}</string>
	</array>
	<array>
		<string>{1323,713}</string>
		<string>{1319,753}</string>
		<string>{1325,793}</string>
		<string>{1345,828}</string>
		<string>{1377,855}</string>
		<string>{1414,872}</string>
		<string>{1451,880}</string>
		<string>{1489,875}</string>
		<string>{1528,862}</string>
		<string>{1561,838}</string>
		<string>{1585,805}</string>
		<string>{1600,770}</string>
		<string>{1607,732}</string>
		<string>{1607,694}</string>
		<string>{1602,656}</string>
		<string>{1590,618}</string>
		<string>{1572,518}</string>
		<string>{1553,548}</string>
		<string>{1535,513}</string>
		<string>{1517,480}</string>
		<string>{1500,444}</string>
		<string>{1488,409}</string>
		<string>{1482,371}</string>
		<string>{1487,331}</string>
		<string>{1498,294}</string>
		<string>{1512,258}</string>
		<string>{1532,223}</string>
		<string>{1554,190}</string>
		<string>{1583,161}</string>
	</array>
	<array>
		<string>{1711,116}</string>
		<string>{1734,84}</string>
		<string>{1761,56}</string>
		<string>{1793,33}</string>
		<string>{1832,17}</string>
		<string>{1872,8}</string>
		<string>{1911,3}</string>
		<string>{1952,9}</string>
		<string>{1989,21}</string>
		<string>{2020,43}</string>
		<string>{2040,79}</string>
		<string>{2048,115}</string>
		<string>{2046,153}</string>
		<string>{2031,190}</string>
		<string>{2012,225}</string>
		<string>{1990,259}</string>
		<string>{1964,289}</string>
		<string>{1936,319}</string>
		<string>{1912,346}</string>
		<string>{1887,373}</string>
		<string>{1861,402}</string>
		<string>{1836,431}</string>
		<string>{1812,462}</string>
		<string>{1789,496}</string>
		<string>{1770,531}</string>
		<string>{1757,567}</string>
		<string>{1746,606}</string>
		<string>{1745,645}</string>
		<string>{1752,684}</string>
		<string>{1770,719}</string>
		<string>{1795,749}</string>
		<string>{1827,773}</string>
		<string>{1866,788}</string>
		<string>{1904,795}</string>
		<string>{1942,793}</string>
	</array>
	<array>
		<string>{2102,823}</string>
		<string>{2140,813}</string>
		<string>{2176,797}</string>
		<string>{2207,776}</string>
		<string>{2235,748}</string>
		<string>{2259,718}</string>
		<string>{2273,682}</string>
		<string>{2277,644}</string>
		<string>{2267,606}</string>
		<string>{2249,572}</string>
		<string>{2232,538}</string>
		<string>{2216,504}</string>
		<string>{2198,472}</string>
		<string>{2182,437}</string>
		<string>{2169,400}</string>
		<string>{2159,363}</string>
		<string>{2153,324}</string>
		<string>{2155,286}</string>
		<string>{2163,248}</string>
		<string>{2179,213}</string>
		<string>{2197,180}</string>
		<string>{2222,149}</string>
		<string>{2248,119}</string>
		<string>{2278,93}</string>
		<string>{2309,71}</string>
		<string>{2344,55}</string>
		<string>{2381,44}</string>
		<string>{2420,40}</string>
		<string>{2458,40}</string>
		<string>{2495,47}</string>
		<string>{2529,62}</string>
		<string>{2562,81}</string>
		<string>{2591,105}</string>
		<string>{2617,134}</string>
		<string>{2633,169}</string>
		<string>{2634,208}</string>
		<string>{2626,244}</string>
		<string>{2606,275}</string>
		<string>{2581,304}</string>
		<string></string>
		<string></string>
	</array>
</array>
</plist>
