<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>minigameStartPoint</key>
	<integer>1</integer>
	<key>morphScaleMin</key>
	<real>0.95</real>
	<key>morphScaleMax</key>
	<real>1.05</real>
	<key>bubbleScales</key>
	<array>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
	</array>
	<key>bubbleCoords</key>
	<array>
		<string>{208,921}</string>
		<string>{240,884}</string>
		<string>{224,846}</string>
		<string>{184,814}</string>
		<string>{132,796}</string>
		<string>{97,770}</string>
		<string>{73,731}</string>
		<string>{44,699}</string>
		<string>{20,660}</string>
		<string>{44,619}</string>
		<string>{81,592}</string>
		<string>{120,570}</string>
		<string>{165,553}</string>
		<string>{208,539}</string>
		<string>{249,522}</string>
		<string>{179,465}</string>
		<string>{121,489}</string>
		<string>{69,481}</string>
		<string>{33,450}</string>
		<string>{29,390}</string>
		<string>{49,353}</string>
		<string>{80,320}</string>
		<string>{102,284}</string>
		<string>{69,252}</string>
		<string>{42,213}</string>
		<string>{67,177}</string>
		<string>{99,151}</string>
		<string>{142,136}</string>
		<string>{188,126}</string>
		<string>{236,119}</string>
		<string>{237,437}</string>
	</array>
	<key>friendImageOrientation</key>
	<array>
		<string>l</string>
		<string>r</string>
		<string>r</string>
		<string>r</string>
		<string>r</string>
		<string>r</string>
		<string>r</string>
		<string>r</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
		<string>r</string>
		<string>r</string>
		<string>r</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
		<string>r</string>
		<string>r</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
		<string>l</string>
	</array>
	<key>freeCostume</key>
	<dict>
		<key>keyTheme</key>
		<string>Western</string>
		<key>keyType</key>
		<string>Super</string>
		<key>keyName</key>
		<string>LukeLocoLemon</string>
	</dict>
	<key>id</key>
	<integer>4</integer>
	<key>position</key>
	<string>{1575,70}</string>
	<key>atmosphereOffset</key>
	<string>{0,-12}</string>
	<key>name</key>
	<string>western</string>
	<key>displayName</key>
	<string>Western</string>
	<key>imageName</key>
	<string>cdd-world-western-mapplanet</string>
	<key>backgroundsArray</key>
	<array>
		<string></string>
		<string></string>
	</array>
	<key>minigameName</key>
	<string></string>
</dict>
</plist>
